
<div class='container'>  
    <h1>Blog</h1>
    <p>Welcome here, this is my first blog build in Ruby on Rails. We start amaizing adventure!</p>
    <a href='about'>About</a>
    <br/>

    <%= link_to "About me, text, text and text", about_path %>
</div>